body{
    color: rgb(255, 0, 0);
    background: rgb(255, 255, 255);
}
header{
    border-bottom:solid 2px rgb(rgb(0, 0, 0));
    padding: 20px;
    font-size: 32px;
    color: black;
    background: chartreuse;
}